<!DOCTYPE html>
<html>
    <head>
        <title>Add Customer</title>
    </head>
    <body>
        <h1>Add New Customer</h1>
        <form action="/customers" method="post">
            <input type="text" name="name" placeholder="Name" required>
            <br>
            <input type="text" name="nickname" placeholder="Nickname">
            <br>
            <input type="number" name="age" placeholder="Age">
            <br>
            <input type="text" name="favorite_food" placeholder="Favorite Food">
            <br>
            <button type="submit">Add Customer</button>
        </form>
    </body>
</html>