<!DOCTYPE html>
<html>
    <head>
        <title>Customer App</title>
    </head>
    <body>
        <!-- Script implemented to show the DOM XSS - https://www.invicti.com/learn/dom-based-cross-site-scripting-dom-xss/ -->
        <h1>
        <script>
            var pos=document.URL.indexOf("context=");
            console.log(pos)

            //display if the "contex=" has any value
            if(pos > -1){
                var decodedText = decodeURIComponent(document.URL.substring(pos+8))
                document.write(decodedText)
            }
         </script>
        </h1>
        <ul>
            <% customers.forEach(function(customer) { %>
                <!-- Name and Age will be considered Sensitive data -->
                <!-- Adjusted for Stored XSS vulnerability https://semgrep.dev/docs/cheat-sheets/express-xss/ -->
                <li><%= customer.nickname %> - <%= customer.favorite_food %> - <button onclick="location.href='/delete-customer/<%= customer.rowid %>'">Delete</button></li>
            <% }); %>
        </ul>
        <a href="/add-customer">Add New Customer</a>
    </body>
</html>